{% extends "layout.html" %}
{% block body %}
<ul>
    <li>From: <input type="text" name="from" /></li>
    <li>To: <input type="text" name="to" /></li>
    <li>CC: <input type="text" name="cc" /></li>
    <li>添付ファイル01: <input type="file" name="file01" /></li>
    <li>添付ファイル02: <input type="file" name="file02" /></li>
    <li>添付ファイル03: <input type="file" name="file03" /></li>
    <li>添付ファイル04: <input type="file" name="file04" /></li>
    <li>添付ファイル05: <input type="file" name="file05" /></li>
</ul>
{% endblock %}